//UTILITIES
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


// buttons

.button--light{
    border: solid 1px $color--white;
    background:none;
    padding: 1rem 2rem;
    color:$color--white;
    font-family: $font--p;
    @include fade(0.5s);
    font-size: 1.4rem;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover{
        background:$color--white;
        color:$color--black;
        border-bottom:1px solid $color--white;
    }
}

.button--dark{
    border: solid 1px $color--black;
    background:none;
    padding: 1rem 2rem;
    color:$color--black;
    font-family: $font--p;
    @include fade(0.5s);
    font-size: 1.4rem;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover{
        background:$color--black;
        color:$color--white;
        border-bottom:1px solid $color--black;
    }
}